<%- include('templates/header', {titulo:"Contactanos"}) %>

                    <form action="/contactanos" id="formulario" method="POST">
                        <label>Nombre</label>
                        <input class="form-control me-2" type="search" placeholder="Nombre" aria-label="Search" name="nombre"
                        id="nombre">                        <label>edad</label>
                        <input class="form-control me-2" type="search" placeholder="Edad" aria-label="Search" name="edad"
                        id="edad">
                        <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    </form>

<%- include('templates/footer') %>